# Mobile app build outputs
mobile/node_modules/
mobile/android/
mobile/dist/
mobile/www/index.html
mobile/www/static/
mobile/package-lock.json

# Local SQLite database
instance/

mobile/capacitor.config.json
